@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@import "tailwindcss";

@theme {
  --font-Garamond: "EB Garamond", "Alan Sans";
}
/* smooth scroll for nicer UX */
html {
  scroll-behavior: smooth;
}

/* optional: tune focus outline for accessibility */
:focus {
  outline: 3px solid rgba(249, 115, 22, 0.35);
  outline-offset: 2px;
}
